* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F6F0DF;
    color: #333;
}

.sticky-nav { /*Specifications for navbar itself not buttons*/
    position:fixed;
    top:0;
    background-color: #344966; 
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sticky-nav ul { /*Specifications for buttons location and making sure there's no bullet points*/
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sticky-nav ul li { /*Specifications for spacing between buttons*/
    margin: 10px;
}

.sticky-nav ul li a { /*Specifications for links to other pages aka the buttons*/
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #f2f2f2;
    font-weight: 600;
    transition: background-color 0.3s;
}

.sticky-nav ul li a:hover {
    background-color: #5995ED; 
    color: #f2f2f2;
}

/* Hero Section */
.hero {  /*Box for backkground section*/
    background-color: #F6F0DF;
    display: flex;
    justify-content: center;
}

.hero-content { /*Justifies content to middle and centered*/
    display: flex;
    align-items: center;
}

.hero-text { /*Specifications for text*/
    text-align: left;
    padding-right: 100px;
}

.hero h1 { /*Specifications for text h1*/
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p { /*Specifications for text p*/
    font-size: 1.2em;
}

.hero img { /*Specifications for image*/
    margin: 160px 0px 155px 0px;
    width: 600px;
    height: auto;
    border-radius: 15px;
}

.skills { /*Specifications for skills background*/
    background-color: #F6F0DF; 
    padding: 20px;
}

.skills h2 { /*Specifications for skills text h2; "My Skills"*/
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.skills p { /*Specifications for skills text p; the smaller sentence*/
    margin-bottom: 30px;
    text-align: center;
    font-size: large;
}

.skills h3 { /*Specifications for skills text on top of card*/
    color: #f2f2f2;
}

.skills-grid { /*Specifications for grid of cards*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding-bottom: 50px;
}

.card { /*Specifications for cards*/
    perspective: 1000px; 
    height: 350px;
}

.card-inner { /*Specifications for flip effect*/
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner { /*Specifications for flip effect when hovering*/
    transform: rotateY(180deg);
}

.card-front, .card-back { /*Specifications for front and back of card*/
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #344966;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back { /*Specifications for back of card with scrollbar*/
    transform: rotateY(180deg);
    overflow-y: auto;
    max-height: 100%;
}

.card-back ul { /*Specifications for lists in the back of the card*/
    padding: 20px; 
}

.card-back ul li {
    margin-bottom: 5px;
    list-style-type: none;
    font-size: 1em;
    color: #f2f2f2;
}

.card-front h3 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.skills-content h3 {
    margin-bottom: 10px;
}

.skills-content ul {
    list-style-type: none;
    padding: 0;
}

.skills-content ul li {
    margin-bottom: 5px;
    list-style-type: none;
}

/* About Section */
.about {
    background-color: #F6F0DF;
    padding: 0px 20px;
    text-align: center;
    margin-bottom: 50px;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.about p {
    font-size:large;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 20px;
}



/* Projects Section */
.projects {
    background-color: #F6F0DF;
    padding: 50px 20px;
    text-align: center;
}

.projects h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    flex: 1 1 calc(33.333% - 40px);
    max-width: 250px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.project-item:hover {
    transform: translateY(-10px);
}

.project-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 0.9em;
    margin-bottom: 15px;
}

/* See More Projects Button */
.cta, .see-more-projects {
    background-color: #5995ED; 
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.cta:hover, .see-more-projects:hover {
    background-color: #BF7C84; 
}

.see-more-projects {
    margin-top: 40px;
    font-size: 1em;
}

.contact{
    background-color: #F6F0DF;
    padding: 50px 20px;
    text-align: center;
    font-size: large;
}

.contact-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s, color 0.3s;
}

.contact-link img {
    width: 30px; 
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s;
}

.contact-link span {
    font-size: 1em;
    transition: color 0.3s;
    
}

.contact-link:hover {
    transform: scale(1.1);
    color: #5995ED;
}

.contact-link:hover img {
    transform: scale(1.2);
}

.contact-link:hover span {
    color: #5995ED;
}

/* Footer */
footer {
    background-color: #F6F0DF; 
    text-align: center;
    padding: 5px;
    color: #333;
}
